.custom-navbar {
    background: linear-gradient(to bottom, rgb(0, 191, 255), rgb(255, 255, 255)); /* Gradient od niebieskiego do białego, ustawiony pionowo */
  }

  .grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .menu {
    width: 100%;
    max-width: 600px; 
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    margin-top: 200px;
  }
  
  .menu-header {
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  }
  
  .menu-header h2 {
    margin: 0;
  }
  
  .menu-items {
    border-top: 1px solid #ccc;
    margin-left: 10px;
  }
  
  .menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;

  }
  
  .menu-item:hover {
    background-color: #e0e0e0;
  }
  
  .menu-item:first-child {
    border-top: none;
  }
  .menu-header .form-control {
  margin: 0 10px; 
}

 .day-name{
  text-align: center;
  font-size: 30px;
  margin-top: 100px;
 }

 .menu-item.selected {
  background-color: rgb(77, 255, 77);
}

.menu .clear-button {
  margin-top: 10px;
  }

  .menu-item.daily-task {
    background-color: blue
  }
  
  .menu-item > span {
    flex-grow: 1;
  }
  
  .menu-item > div {
    display: flex;
    gap: 5px;
  }
  


  
  